*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    display: flex;
    justify-content: center;
  }
  .cart{
    width: 250px;
    height: 350px;
    border: 2px solid blueviolet;
    background-color: antiquewhite;
    margin: 25px;
    padding: 15px;
    padding-block: 35px;
  }

  h1{
    margin-bottom: 15px;
    width: fit-content;
    border-bottom: 2px solid black;
  }

  button{
    color: white;
    border: none;
    background-color:blue ;
    padding: 8px;
    margin: 2px;
    border-radius: 30px;
    transition: .3s ease-in;
    cursor: pointer;
  }

  button:hover{
    background-color: rgba(27, 27, 204, 0.733);
    transform: translateY(-2px);
  }

  #result{
    text-align: center; 
    font-size: 20px; 
    font-family: 'Courier New', Courier, monospace; 
    border: 1px solid black;
  }

  .price__calc{
    margin-top: 25px;
    height: 90px;
    padding: 2px;
  }